$page-background: linear-gradient(189deg, rgba(241,230,219,1) 0%, rgba(255,255,255,1) 100%); 
$gray-1: #333;
$gray-2: #4F4F4F;
$button-green: linear-gradient(102deg, #647B64 -4.62%, #66AC66 178.22%);
$text-yellow: #F3B562;
$gen-green: #647B64;
$gradient-white: linear-gradient(358deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0.00) 25.62%, rgba(100, 123, 100, 0.00) 98.53%);
$sand-brown: #F0DCC5;
$white: #FFF;
$gradient-orange: linear-gradient(164deg, rgba(239, 128, 49, 0.00) -335.51%, rgba(239, 128, 49, 0.15) -20.24%, rgba(239, 128, 49, 0.00) 119.45%);

